<footer class="text-muted py-5 bg-dark w-100">
  <div class="container w-100">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">News Website is © Bootstrap Made By&nbsp; {{ffooter}}</p>

  </div>
</footer>